<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

      <!-- Start Get Involved Card-->
      <div class="row">
        <div class="col s12 m6">
          <div class="card about-card">
            <div class="card-content">
              <span class="card-title"><i class="icon ion-ios-people"></i> Get Involved</span>
              <div class="card-action involved">
                <a href="http://ggdnashville.com/sponsoradinner/" id="email-links">Become a Sponsor</a>
                <a href="https://docs.google.com/forms/d/1aq9FkjCxb9L6xOMpHETQRAg_8i4njMEV-r4IMyAcmZ4/viewform" id="email-links">Be a Speaker</a>
                <a href="mailto:hey@ggdnashville.com" id="email-links">Tell Your Story</a>
                <a href="mailto:hey@ggdnashville.com" id="email-links">Become a Volunteer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Get Involved Card -->

      <!-- Start Organizer Card -->
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card about-card">
            <div class="card-content">
              <span class="card-title"><i class="icon ion-email"></i> Email Us</span>
              <div class="card-action">
                <div class="row">
                  <div id="circle-image" class="col s2">
                    <img src="../img/kristin_mckinney.jpg" alt="Kristin McKinney" class="circle responsive-img" width="50">
                  </div>
                  <a href="mailto:" id="email-links">Kristin McKinney</a>
                </div>
              </div>
              <div class="card-action">
                <div class="row">
                  <a href="mailto:" id="email-links">Rachel Werner</a>
                  <div id="circle-image" class="col s2">
                    <img src="../img/rachel_werner.jpg" alt="Rachel Werner" class="circle responsive-img" width="50">
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="row">
                  <div id="circle-image" class="col s2">
                    <img src="../img/jessica_raines.jpg" alt="Jessica Raines" class="circle responsive-img" width="50">
                  </div>
                  <a href="mailto:" id="email-links">Jessica Raines</a>
                </div>
              </div>
              <div class="card-action">
                <div class="row">
                  <a href="mailto:" id="email-links">Rainu Ittycheriah</a>
                  <div id="circle-image" class="col s2">
                    <img src="../img/rainu_ittycheriah.jpg" alt="Rainu Ittycheriah" class="circle responsive-img" width="50">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Organizer Card -->

      <!-- Start How It All Began Card -->
      <div class="row">
        <div class="col s12 m6">
          <div class="card about-card">
            <div class="card-content">
              <span class="card-title"><i class="icon ion-android-arrow-dropright-circle"></i> How It All Began</span>
              <div class="card-action">
                <p>The Nashville Chapter of Girl Geek Dinner was founded in 2013 by Rachel Werner and Kristin McKinney.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End How It All Began Card -->

      <!-- Start Our Goal Card -->
      <div class="row">
        <div class="col s12 m6">
          <div class="card about-card">
            <div class="card-content">
              <span class="card-title"><i class="icon ion-ribbon-b"></i> Our Goal</span>
              <div class="card-action">
                <p>Our goal is to encourage and inspire Nashville's young women and girls to pursue technology careers.</p>
              </div>
              <div class="card-action">
                <a href="http://ggdnashville.com/about/" id="info-link"> More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Our Goal Card -->

    </ion-content>
</ion-view>
