<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Email</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Founded</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Mission</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">The Solution</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Get Involved</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>