<ion-view title="Dashboard">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer"></div>
        <div class="brand">
            <img src="img/gN7D8qRGKvh2O7u2KVjw_web_logo1.jpg" width="70%" height="auto">
        </div>
        <div id="touch-pad">
          <form class="list"></form>
          <div class="button-bar navy-icon">
              <a ui-sref="about" id="navy-icon" class="button button-stable button-icon button-large icon ion-information-circled"></a>
              <a ui-sref="involved" id="navy-icon" class="button button-stable button-icon button-large icon ion-ios-people"></a>
              <a ui-sref="resources" id="navy-icon" class="button  button-icon button-large icon ion-university"></a>
          </div>
          <div class="spacer"></div>
          <div class="button-bar">
              <a ui-sref="feedback" id="navy-icon" class="button button-stable button-icon button-large icon ion-ios-paperplane"></a>
              <a ui-sref="events" id="navy-icon" class="button button-stable button-icon button-large icon ion-android-calendar"></a>
              <a ui-sref="chat" id="navy-icon" class="button button-stable button-icon button-large icon ion-chatbubbles"></a>
          </div>
          <div class="button-bar"></div>
          <div class="spacer"></div>
          <div class="button-bar">
              <a href="#" onclick="window.open('https://www.facebook.com/ggdnashville/', '_system', 'location=yes'); return false;" id="navy-icon" class="button button-stable button-icon button-large icon ion-social-facebook"></a>
              <a href="#" onclick="window.open('https://twitter.com/ggdnashville', '_system', 'location=yes'); return false;" id="navy-icon" class="button button-stable button-icon button-large icon ion-social-twitter"></a>
              <a href="#" onclick="window.open('https://www.instagram.com/ggdnashville/', '_system', 'location=yes'); return false;" id="navy-icon" class="button button-stable button-icon button-large icon ion-social-instagram-outline"></a>
          </div>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>
