<ion-view title="Events">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-list ng-controller="eventsCtrl">
        <ion-item ng-repeat="event in events" class="each-event">
          <i class="icon {{event.icon}}"></i>
          <a ng-href="{{event.href}}"<h2>{{event.title}}</h2></a>
          <p class="the-event">{{event.date}}</p>
          <p class="the-event">{{event.time}}</p>
          <p class="the-event" ng-href>{{event.description}}</p>
        </ion-item>
      </ion-list>

      <a href="http://ggdnashville.com/past-dinners-workshops/"><button class="button button-full button-ggd">
        More Past Events
      </button></a>

    </ion-content>
</ion-view>
