<ion-view title="Feedback">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Enter Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Enter Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Enter Phone #</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Comments</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button class="button button-stable button-block ">Submit</button>
    </ion-content>
</ion-view>