<ion-view title="Feedback">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <i class="material-icons prefix">email</i>
              <input id="icon_email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Feedback</label>
            </div>
          </div>
        </form>
      </div>

        <!-- <form class="list">
            <label class="item item-input">
                <span class="input-label">Enter Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Enter Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Enter Phone #</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Comments</span><textarea placeholder=""> </textarea>
            </label>
        </form> -->
        <button class="button button-stable button-block ">Submit</button>
    </ion-content>
</ion-view>
