<ion-view title="Learning Resources">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list">

      <a class="item item-thumbnail-left" href="http://ggdnashville.com/new-to-programming-try-codeschool-com/">
        <img src="../img/codeschool.png">
        <h2>New to Programming?</h2>
        <p>Try CodeSchool.com</p>
      </a>

      <a class="item item-thumbnail-right" href="http://ggdnashville.com/google-developers-academy-university-consortium/">
        <img src="../img/googledevs.png">
        <h2>Google Developers Academy</h2>
        <p>Training Materials on Goolge</p>
        <p>Technologies</p>
      </a>

      <a class="item item-thumbnail-left" href="http://ggdnashville.com/general-assembly-learn-data-analysis/">
        <img src="../img/ga.png">
        <h2>General Assembly</h2>
        <p>Learn User Experience Design,</p>
        <p>Mobile Development & More</p>
      </a>

      <a class="item item-thumbnail-right" href="http://ggdnashville.com/coursera-learn-about-computer-science-engineering-sciences/">
        <img src="../img/coursera.png">
        <h2>Coursera</h2>
        <p>Computer Science & Engineering</p>
        <p>Classes from home for FREE</p>
      </a>

      <a class="item item-thumbnail-left" href="http://ggdnashville.com/code-academy-learn-to-code/">
        <img src="../img/coeaca.png">
        <h2>Codecademy</h2>
        <p>Learn to Code in PHP, Ruby,</p>
        <p>Python & JavaScript for FREE</p>
      </a>

      <a class="item item-thumbnail-right" href="http://ggdnashville.com/khan-academy-learn-to-programming/">
        <img src="../img/khan.png">
        <h2>Khan Academy</h2>
        <p>Learn Programming for FREE</p>
      </a>

      <a class="item item-thumbnail-left" href="http://ggdnashville.com/147/">
        <img src="../img/kidsruby.png">
        <h2>Kids Learn Ruby</h2>
        <p>Hack Your Homework Using Ruby</p>
      </a>

    </div>

    </ion-content>
</ion-view>
