<ion-view title="Learning Resources">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div id="big-list">
      <div class="list">
        <div class="content">
          <span class="card-title"><i class="icon ion-university"></i> Learning Resources</span>
        </div>

        <a class="item item-thumbnail-left" href="http://ggdnashville.com/new-to-programming-try-codeschool-com/">
          <img src="../img/codeschool.png" width="50">
          <p>New to Programming?</p>
          <p>Try CodeSchool.com</p>
        </a>

        <a class="item item-thumbnail-right" href="http://ggdnashville.com/google-developers-academy-university-consortium/">
          <img src="../img/googledevs.png">
          <p>Google Developers Academy</p>
          <p>Learn Goolge Technologies</p>
        </a>

        <a class="item item-thumbnail-left" href="http://ggdnashville.com/general-assembly-learn-data-analysis/">
          <img src="../img/ga.png">
          <p>General Assembly</p>
          <p>Learn Design & More</p>
        </a>

        <a class="item item-thumbnail-right" href="http://ggdnashville.com/coursera-learn-about-computer-science-engineering-sciences/">
          <img src="../img/coursera.png">
          <p>Coursera</p>
          <p>Take Classes for FREE</p>
        </a>

        <a class="item item-thumbnail-left" href="http://ggdnashville.com/code-academy-learn-to-code/">
          <img src="../img/coeaca.png">
          <p>Codecademy</p>
          <p>Learn to Code for FREE</p>
        </a>

        <a class="item item-thumbnail-right" href="http://ggdnashville.com/khan-academy-learn-to-programming/">
          <img src="../img/khan.png">
          <p>Khan Academy</p>
          <p>Learn Programming for FREE</p>
        </a>

        <a class="item item-thumbnail-left" href="http://ggdnashville.com/147/">
          <img src="../img/kidsruby.png">
          <p>Kids Learn Ruby</p>
          <p>Hack Your Homework</p>
        </a>

      </div>
    </div>

    </ion-content>
</ion-view>
