<ion-view title="Learning Resources">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    <div id="big-list">
      <div class="list">
        <div class="content">
          <span class="card-title"><i class="icon ion-code"></i> Learn To Code</span>
        </div>

        <a class="item item-thumbnail-left" href="http://nashvillesoftwareschool.com/">
          <img src="../img/nss.png" width="50">
          <p>Local Coding Bootcamp</p>
          <p>Nashville Software School</p>
        </a>

        <a class="item item-thumbnail-right" href="https://www.theironyard.com/">
          <img src="../img/iron-yard-logo.png">
          <p>One-night Crash Courses</p>
          <p>With The Iron Yard</p>
        </a>

        <a class="item item-thumbnail-left" href="https://www.codeschool.com/">
          <img src="../img/codeschool.png" width="50">
          <p>New to Programming?</p>
          <p>Try CodeSchool.com</p>
        </a>

        <a class="item item-thumbnail-right" href="https://developers.google.com/">
          <img src="../img/googledevs.png">
          <p>Google Developers Academy</p>
          <p>Learn Goolge Technologies</p>
        </a>

        <a class="item item-thumbnail-left" href="https://generalassemb.ly/">
          <img src="../img/ga.png">
          <p>General Assembly</p>
          <p>Learn Design & More</p>
        </a>

        <a class="item item-thumbnail-right" href="https://www.coursera.org/">
          <img src="../img/coursera.png">
          <p>Coursera</p>
          <p>Take Classes for FREE</p>
        </a>

        <a class="item item-thumbnail-left" href="https://www.codecademy.com/">
          <img src="../img/coeaca.png">
          <p>Codecademy</p>
          <p>Learn to Code for FREE</p>
        </a>

        <a class="item item-thumbnail-right" href="https://www.khanacademy.org/">
          <img src="../img/khan.png">
          <p>Khan Academy</p>
          <p>Learn Programming for FREE</p>
        </a>

        <a class="item item-thumbnail-left" href="http://kidsruby.com/">
          <img src="../img/kidsruby.png">
          <p>Kids Learn Ruby</p>
          <p>Hack Your Homework</p>
        </a>

      </div>
    </div>

    </ion-content>
</ion-view>
