<ion-view title="{{ roomCtrl.current_room }}" ng-controller="chatroomCtrl as roomCtrl">
  <header class="bar bar-header bar-positive">
    <h1 class="title">{{ roomCtrl.current_room }}</h1>
    <!-- <button class="button button-assertive" ng-click="leaveRoom()">Leave</button> -->
  </header>

  <ion-content class="has-header padding">

    <div class="list" id="messages" ng-if="roomCtrl.messages.length > 0">
        <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in roomCtrl.messages">
          <div class="msg">
            <div class="details padding">
            <p>

              <div class="message"><i class="icon ion-chatbubbles this-pink"></i>{{ msg.text }}</div>
            </p>
              <div class="user-info user">posted by {{ msg.user }}</div>
            <div class="user-info">{{ humanize(msg.time) }}</div>
            </div>
          </div>
        </li>
    </div>

  </ion-content>

  <footer class="bar bar-footer item-input-inset has-content">

      <label class="footer-input item-input-wrapper">
        <input type="text" id="message" name="message" ng-model="roomCtrl.message" placeholder="Chat Here">
      </label>
      <a class="btn button-icon icon ion-chatbubbles" ng-click="sendTextMessage()"></a>

  </footer>

</ion-view>
