/*Navigation Bar*/

.bar {
  color: #fff;
  background-color: #02335e;
}
.ion-ios-arrow-back {
  color: #fff;
}
.ion-ios-arrow-back:hover {
  color: #c228a2;
}


/*Dashboard*/

div.spacer {
  width: 300px;
  height: 30px;
}
div.brand {
  text-align: center;
}
div#touch-pad {
  background-color: rgba(188, 209, 210, 0.62);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  padding-bottom: 20px;
  margin: 30px;
}
#navy-icon {
  color: #02335e;
}
#navy-icon:hover {
  color: #c228a2;
}

.button-large.icon:before,
.button-large.icon-left:before,
.button-large.icon-right:before {
  font-size: 48px;
}

/*About*/

div.row {
  margin-bottom: 0;
}
div.card-action.involved p {
  text-align: center;
  font-style: italic;
}

.about-card {
  color: #fff;
  background-color: #02335e;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
span.card-title {
  text-align: center;
}
div.card-action a {
  text-align: center;
  display: block;
}
div.card-action p {
  text-align: left;
}
a#email-links {
  padding-top: 10px;
  color: #fff;
  text-transform: none;
}
a#email-links:hover {
  color: #c228a2;
}
i {
  padding-right: 10px;
}
i.icon.ion-ribbon-b,
i.icon.ion-android-arrow-dropright-circle,
i.icon.ion-email,
i.icon.ion-ios-people {
  font-size: 32px;
}
a#info-link {
  color: #fff;
  float: right;
  text-transform: none;
}
a#info-link:hover {
  color: #c228a2;
}

