@import url(https://fonts.googleapis.com/css?family=Patrick+Hand);

@font-face {
    font-family: 'Hobo';
    src:url('../fonts/Hobo.ttf.woff') format('woff'),
        url('../fonts/Hobo.ttf.svg#Hobo') format('svg'),
        url('../fonts/Hobo.ttf.eot'),
        url('../fonts/Hobo.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/*Navigation Bar*/

.bar {
  color: #fff;
  background-color: #02335e;
  font-family: 'Hobo', sans-serif;
}
.ion-ios-arrow-back {
  color: #fff;
}
.ion-ios-arrow-back:hover {
  color: #c228a2;
}

/* Header Titles*/
ion-view.title {
  font-family: 'Hobo', sans-serif;
}

/*Dashboard*/

div.spacer {
  width: 300px;
  height: 30px;
}
div.brand {
  text-align: center;
}
div#touch-pad {
  background-color: rgba(188, 209, 210, 0.62);
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
  padding-bottom: 20px;
  margin: 30px;
}
#navy-icon {
  color: #02335e;
}
#navy-icon:hover {
  color: #c228a2;
}

.button-large.icon:before,
.button-large.icon-left:before,
.button-large.icon-right:before {
  font-size: 48px;
}
/* Calendar */
ion-item.each-event {
  border-radius: 10px;
  margin: 20px;
  background-color: #02335e;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
a.ng-binding {
  font-family: 'Hobo', sans-serif;
  font-size: 22px;
  color: #c228a2;
}
a.ng-binding:hover {
  color: #fff;
}
i.ion-woman, i.ion-wineglass {
   font-size: 32px;
   color: #c228a2;
}
p.the-event {
  color: #fff;
  padding-left: 30px;
}
button.button.button-full.button-ggd {
  font-family: 'Hobo', sans-serif;
  background-color: #fff;
  font-size: 24px;
  color: #c228a2;
  border: #fff;
  font-weight: 900;
}
button.button.button-full.button-ggd:hover {
  color: #02335e;
}

/* Resources */
div#big-list {
  border-radius: 10px;
  margin: 10px;
  padding: 20px 20px 0;
  background-color: #02335e;
}
div.content {
  text-align: center;
  line-height: 48px;
  margin-bottom: 10px;
}
i.icon.ion-university {
  font-size: 32px;
}
span.card-title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-family: 'Hobo', sans-serif;
}
a.item {
  background-color: #02335e;
  color: #fff;
  padding: 20px;
  border: #02335e;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 20px;
}
a.item img {
  border-radius: 50px;
  margin: 10px;
  padding-bottom: 0;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  max-width: 50px;
  max-height: 50px;
  border: 3px solid #fff;
}
.item-thumbnail-right > img:first-child, .item-thumbnail-right .item-image, .item-thumbnail-right .item-content > img:first-child, .item-thumbnail-right .item-content .item-image {
  max-width: 50px;
  max-height: 50px;
  border: 3px solid #fff;
}
a.item.item-thumbnail-left h3, a.item.item-thumbnail-left p {
  color: #fff;
  text-align: right;
}
a.item.item-thumbnail-right h3, a.item.item-thumbnail-right p {
  color: #fff;
  text-align: left;
}
a.item.item-thumbnail-left h3, .item.item-thumbnail-right h3 {
  padding-top: 10px;
}

/*About*/

div.row {
  margin-bottom: 0;
}
div.card-action.involved p {
  text-align: center;
  font-style: italic;
}
.about-card {
  color: #fff;
  background-color: #02335e;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
.card.card-title {
  font-size: 32px;
}
span.card-title {
  text-align: center;
  font-family: 'Hobo', sans-serif;
}
div.card-action a {
  text-align: center;
  display: block;
}
div.card-action p {
  text-align: left;
}
a#email-links {
  color: #c228a2;
  padding-top: 10px;
  text-transform: none;
}
a#email-links:hover {
  color: #fff;
}
i {
  padding-right: 10px;
}
i.icon.ion-ribbon-b,
i.icon.ion-android-arrow-dropright-circle,
i.icon.ion-email,
i.icon.ion-ios-people {
  font-size: 32px;
}
a#info-link {
  color: #c228a2;
  float: right;
  text-transform: none;
}
a#info-link:hover {
  color: #fff;
}

/* Get Involved */

a#more-links {
  color: #c228a2;
  margin-top: 20px;
  margin-right: 0;
  text-align: right;
  text-transform: none;
}
a#more-links:hover {
  color: #fff;
}

i.icon.ion-email,
i.icon.ion-information-circled {
  font-size: 32px;
}

i.icon.ion-android-open {
  font-size: 12px;
  color: #c228a2;
}
i.icon.ion-android-open:hover {
  color: #fff;
}

div.volunteer p {
  text-align: center;
}


